@font-face {
  font-family: "futura";
  src: url('https://cdn.jsdelivr.net/npm/futura-font/FuturaBT-Medium.woff') format('woff');
  font-display: swap;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "futura", sans-serif;
}

body {
    overflow-y: scroll;
    width: 100%;
}

a {
    color: #000000;
}

.skiptocontent {
    position: absolute;
    top: 3px;
    left: 3px;
    border: solid 0.0256rem #000000;
}

nav {
    padding-top: 1rem;
    height: 6.25rem;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    background-color: #ffffff;
    box-shadow: 0rem 0rem 1rem 0rem #000000;
    top: 0px;

    position: sticky;
}

nav .logo {
    height: 90%;
    grid-column: 1 / span 1;
    overflow: hidden;
    min-width: 0;
    justify-self: center;
    padding: 5%;
}

nav .logo img {
    display: block;
    height: 100%;
}

nav .links {
    list-style: none;
    grid-column: 3 / 3;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

nav .links li {
    padding: 0.5rem;
    font-size: 1.4rem;
    text-align: center;
}

nav .links li:hover {
    text-decoration: underline;
}

header {
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
}

header .hero-text-row1 {
    position: absolute;
    top: 28.125vw;
    left: 18%;

}

header svg {
    width: 100%;
    height: auto;
    background: #ffffff;
}

header svg text {
    font-size: 16px;
}

header svg g.hero-text {
    mix-blend-mode: difference;
}

header svg g.hero-text text {
    font: normal 64px "futura";
    fill: #ffffff;
}

header svg g.hero-text tspan.emphasis, .cta{
    font: normal 64px "futura";
    fill: #15dada;
}

header svg .cta text{
    font: normal 64px "futura";
    fill: #ea2525;
    text-decoration: underline;
}

/* Sections */

main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

section{
    padding: 2rem;
}

main .what-we-do {
    grid-column: span 3;
}

main .products{
    grid-column: span 3;
}


footer{
    padding-top: 160px;
}

@media (min-width: 768px){

    nav{
        display: grid;
        grid-template-columns: repeat(12, 1fr);

    }

    nav .links{
        grid-column: 7 / 13;
    }

    main{ 
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    
}