<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/index.css" | relative_url }}">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/assets/icon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/assets/icon/favicon.svg" />
    <link rel="shortcut icon" href="/assets/icon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Grognard" />
    <link rel="manifest" href="/assets/icon/site.webmanifest" />


    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:image" content="https://ia.media-imdb.com/images/rock.jpg" />
  </head>
  <body>
    {% include nav.html %}
    <header>
      <a href="#main" id="skipToMain" class="skiptocontent">Skip To Main Content</a>
      
      
      <svg alt="Custom Power BI Visual Downloads" id="hero-interactive">
        
        

      </svg>
      <script type="module">

            import * as d3 from "https://cdn.jsdelivr.net/npm/d3@7/+esm";

            let header = d3.select("#hero-interactive")

            const marginTop = 6.15 * parseFloat(getComputedStyle(document.documentElement).fontSize);
            const marginRight = 10;
            const marginBottom = 30;
            const marginLeft = 30;
            const width = 1920 - marginLeft - marginRight;
            const height = 1080 - marginTop - marginBottom;

            const data = await d3.csv("{{ site.url }}/assets/data/products.stats.csv")

            let countries = data.reduce((obj, d) => {

              if (!(d.CountryName in obj) && Number(d.GetItNow) > 0){
                obj[d.CountryName] = Number(d.GetItNow)
              }else if(Number(d.GetItNow > 0)){
                obj[d.CountryName] = obj[d.CountryName] + Number(d.GetItNow)
              }
              return obj
            },{})


            let dates = data.reduce((obj, d) => {
              let date = d.Date

              if (!(date in obj)){
                obj[date] = Number(d.GetItNow)
              }else{
                obj[date] = obj[date] + Number(d.GetItNow)
              }
              return obj
            },{})

            const axes = Object.entries(dates).sort((a,b) => new Date(a[0]) - new Date(b[0]))

            const x = d3.scaleUtc(d3.extent(axes, d => new Date(d[0])),[marginLeft ,width - marginRight])
            
            const y = d3.scaleLinear([0, d3.max(axes, d => d[1])],[height - marginBottom, marginTop])

            

            const line = d3.area()
                .x((d,i) => x(new Date(d[0])))
                .y0(y(0))
                .y1((d,i) => y(d[1]))

            const svg = d3.select("#hero-interactive")
              .attr("width","100%")
              .attr("viewBox",[0,0,marginLeft + width + marginRight, marginBottom + height + marginTop])

            const defs = svg.append("defs")

            const x_axis = svg.append("g")
              .attr("class","x-axis")
              .attr("transform",`translate(0,${height - marginBottom})`)
              .call(d3.axisBottom(x).ticks(width / 80).tickFormat(d3.utcFormat("%d")).tickSizeOuter(0))

            const y_axis = svg.append("g")
              .attr("transform", `translate(${marginLeft},0)`)
              .call(d3.axisLeft(y).ticks(height / 40))
              .call(g => g.select(".domain").remove())
              .call(g => g.selectAll(".tick line").clone()
              .attr("x2", width - marginLeft - marginRight)
              .attr("stroke-opacity", 0.1))
              .append("text")
                .attr("x", 10)
                .attr("y",height + marginBottom)
                .style("font-size","2rem")
                .attr("fill","currentColor")
                .attr("text-anchor","start")
                .text("Microsoft AppSource Downloads by Day")

            svg.append("path")
              .attr("transform",`translate(0,0)`)
              .attr("fill","#0F0F0F")
              .attr("d",line(axes))

            const text_group = svg.append("g")
              .attr("class","hero-text")
              .style("mix-blend-mode","difference")

            text_group.append("text")
              .attr("x","140")
              .attr("y","240")
              .html(
                `<tspan class="emphasis" id="analytics-total-customers" style="mix-blend-mode: normal;">${d3.sum(data,d => d.GetItNow)}</tspan> Users across <tspan class="emphasis" id="analytics-total-countries" style="mix-blend-mode: normal;">${Object.keys(countries).length}</tspan> Countries`
              )

            text_group.append("text")
              .attr("x","280")
              .attr("y","330")
              .html(
                `And our journey hasn't even begun yet..`
              )

            svg.append("a").attr("class","cta").attr("href","{{ site.url }}/contact").append("text")
              .attr("x","140")
              .attr("y","500")
              .html(`Get Better with Grognard`)
              
          </script>
    </header>
    <main id="main">
      <section class="what-we-do">
        <h2>What We Do</h2>
        <ul>
          <li>Custom Visualizations</li>
          <li>Power BI Extensions</li>
          <li>Web Services</li>
        </ul>
      </section>
      <section class="products">
        <h2>Products</h2>
        <ul>
          <li><a>Constellation</a></li>
          <li><a>More coming soon</a></li>
        </ul>
      </section>
    </main>
    <footer>
      © 2025 16919014 CANADA INC, All Rights Reserved.
    </footer>
  </body>
</html>